// font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// primary color shades
$prim-900: hsl(0 100 13);
$prim-700: hsl(0 100 26);
$prim-500: hsl(0 87 36);
$prim-300: hsl(0, 89%, 65%);
$prim-200: hsl(0, 23%, 64%);
$prim-100: hsl(0, 57%, 95%);

// secondary color shades
$sec-900: hsl(34 100 18);
$sec-700: hsl(39 100 35);
$sec-500: hsl(39 100 50);
$sec-300: hsl(38 100 67);
$sec-100: hsl(41 100 76);

// grey color shades (warm)
$grey-900: hsl(21 25 13);
$grey-700: hsl(26 15 30);
$grey-500: hsl(27 11 50);
$grey-300: hsl(26 16 74);
$grey-100: hsl(27 27 94);

// font sizes
