.bottom-navbar-selection-container {
  padding: 15px 0;
  margin: 0 10px 0 0;
  text-decoration: none;
}

.bottom-navbar-selection {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  white-space: nowrap;
}

.bottom-navbar-selection-container:hover {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 1.5rem;
}