@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --antique-white: #ffe9d5;
  --gold: #b0911e;
  --dark-red: #b20e15;
  --battleship-gray: #858585;
  --text-color: #333333;
}

body {
  background-color: var(--antique-white);
  font-family: roboto, helvetica, arial, sans-serif;
}
